@tailwind base;
@tailwind components;
@tailwind utilities;




.active {
  @apply bg-emerald-500 rounded-md; /* استخدمي @apply مع الكلاسات فقط */
  width: 40px; /* خصائص CSS */
  height: 60px;
  padding: 10px;
  background-color: #1abc9c;

}

.vovo {
  background-color: #1abc9c;
  

}
.popo{
  background-color: #2c3e50;
}
.roro{
  width: 80%;
  margin: auto;
}
.yyy{
 
}

.lolo{

  width: 70px;
}

.coco{
padding-top: 5px;
  margin: auto;
  width: 150px; 
  background-color: rgb(247, 247, 247);
 margin-top: 10px;
 
 
}


  .momo{
    width: 35%;
    margin: auto;
  }
  .star {
    width: 25px;
    height: 25px;
    background-color: #ffffff; 
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  .yyy p {

   width: 30px;
   background-color: white;



  }
  i{
    color: #ffffff;
    margin: auto;
    position: absolute;
    top: 20%;
    right: 35%;
  
    font-size: 150px;
   
   
  }